<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <script>
    (function() {
      const updateTheme = () => {
        const hour = new Date().getHours();
        const isDarkTime = hour >= 20 || hour < 10;
        const theme = isDarkTime ? 'dark' : 'light';

        document.documentElement.setAttribute('data-theme', theme);
      };

      updateTheme();
      setInterval(updateTheme, 60000);
    })();
  </script>
  <script>
    MathJax = {
      options: { enableMenu: false },
      tex: {
        inlineMath: [['$', '$'], ['\\(', '\\)']],
        displayMath: [['$$', '$$'], ['\\[', '\\]']]
      }
    };
  </script>
  <script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    {%- include modal.html -%}
  </body>
  {%- include footer.html -%}
</html>
